# please keep this file alphabetically ordered!

require:
  - rubocop/cop/betterment.rb
  - rubocop-performance
  - rubocop-rails
  - rubocop-rake
  - rubocop-rspec

AllCops:
  DisplayCopNames: true
  DisplayStyleGuide: true
  Exclude:
    - Gemfile
    - bin/**/*
    - build/**/*
    - db/**/*
    - frontend/**/*
    - node_modules/**/*
    - tmp/**/*
    - vendor/**/*
  NewCops: enable
  SuggestExtensions:
    rubocop-capybara: false

Betterment:
  StyleGuideBaseURL: https://github.com/Betterment/betterlint

Betterment/AuthorizationInController:
  Description: Detects unsafe handling of id-like parameters in controllers.
  Enabled: false
  StyleGuide: '#bettermentauthorizationincontroller'

Betterment/DynamicParams:
  StyleGuide: '#bettermentdynamicparams'

Betterment/HardcodedID:
  AutoCorrect: false
  Description: Detects hardcoded IDs in specs
  SafeAutoCorrect: false
  StyleGuide: '#bettermenthardcodedid'

Betterment/NonStandardActions:
  AdditionalAllowedActions: []
  Description: Detects non-standard controller actions.
  Include:
    - config/routes.rb
  StandardActions:
    - create
    - destroy
    - edit
    - index
    - new
    - show
    - update
  StyleGuide: '#bettermentnonstandardactions'

Betterment/ServerErrorAssertion:
  Description: Detects assertions on 5XX HTTP statuses.
  Include:
    - spec/requests/**/*_spec.rb

Betterment/SitePrismLoaded:
  Include:
    - spec/features/**/*_spec.rb
    - spec/system/**/*_spec.rb

Betterment/UnsafeJob:
  Enabled: false
  StyleGuide: '#bettermentunsafejob'
  sensitive_params:
    - password
    - social_security_number
    - ssn

Betterment/UnscopedFind:
  StyleGuide: '#bettermentunscopedfind'

Betterment/StatusCode:
  AutoCorrect: false
  SafeAutoCorrect: false
  Description: Detect missing status codes for POST, PUT, PATCH, or DELETE responses
  Include:
    - app/controllers/**/*.rb

FactoryBot/ConsistentParenthesesStyle:
  Enabled: false

FactoryBot/SyntaxMethods:
  Enabled: false

Layout/CaseIndentation:
  IndentOneStep: true

Layout/ClosingParenthesisIndentation:
  Enabled: true

Layout/FirstArrayElementIndentation:
  EnforcedStyle: consistent

Layout/LineLength:
  Max: 140

Layout/MultilineMethodCallIndentation:
  EnforcedStyle: indented

Layout/MultilineOperationIndentation:
  EnforcedStyle: indented

Layout/ParameterAlignment:
  Enabled: false

# Disabling because of a bug in rubocop: https://github.com/rubocop-hq/rubocop/issues/6918
Layout/RescueEnsureAlignment:
  Enabled: false

Lint/AmbiguousBlockAssociation:
  Exclude:
    - spec/**/*

Lint/AmbiguousOperator:
  Exclude:
    - spec/**/*

Lint/AmbiguousRegexpLiteral:
  Exclude:
    - spec/**/*

Lint/BooleanSymbol:
  Exclude:
    - spec/**/*

Lint/FloatComparison:
  Enabled: true

Metrics/AbcSize:
  Exclude:
    - spec/**/*
    - webvalve/**/*

Metrics/BlockLength:
  Enabled: false

Metrics/ClassLength:
  Exclude:
    - webvalve/**/*
  Max: 250

Metrics/CyclomaticComplexity:
  Exclude:
    - spec/**/*
    - webvalve/**/*
  Max: 10

Metrics/MethodLength:
  Enabled: false

Metrics/ModuleLength:
  Exclude:
    - webvalve/**/*
  Max: 250

Metrics/ParameterLists:
  CountKeywordArgs: false
  Max: 5

Metrics/PerceivedComplexity:
  Exclude:
    - spec/**/*
    - webvalve/**/*

Naming/HeredocDelimiterNaming:
  Enabled: false

Naming/PredicateName:
  ForbiddenPrefixes:
    - is_
  NamePrefix:
    - is_

Naming/VariableNumber:
  EnforcedStyle: snake_case

Performance/RedundantMatch:
  Enabled: false

RSpec/BeEq:
  Enabled: false

RSpec/Capybara/FeatureMethods:
  Enabled: false

RSpec/ContextWording:
  Enabled: false

RSpec/DescribeClass:
  Enabled: false

RSpec/DescribedClass:
  EnforcedStyle: described_class

RSpec/EmptyLineAfterExampleGroup:
  Enabled: false

RSpec/EmptyLineAfterFinalLet:
  Enabled: false

RSpec/EmptyLineAfterHook:
  Enabled: false

RSpec/EmptyLineAfterSubject:
  Enabled: false

RSpec/ExampleLength:
  Enabled: false

RSpec/ExampleWording:
  Enabled: false

RSpec/ExpectChange:
  EnforcedStyle: block

RSpec/SpecFilePathSuffix:
  Enabled: false

RSpec/SpecFilePathFormat:
  Enabled: false

RSpec/HookArgument:
  Enabled: false

RSpec/IndexedLet:
  Enabled: false

RSpec/ItBehavesLike:
  Enabled: false

RSpec/LeadingSubject:
  Enabled: false

RSpec/LetBeforeExamples:
  Enabled: false

RSpec/LetSetup:
  Enabled: false

RSpec/MessageSpies:
  Enabled: false

RSpec/MultipleExpectations:
  Enabled: false

RSpec/MultipleMemoizedHelpers:
  Enabled: false

RSpec/NamedSubject:
  Enabled: false

RSpec/NestedGroups:
  Enabled: false

RSpec/PredicateMatcher:
  Enabled: false

RSpec/ScatteredLet:
  Enabled: false

RSpec/ScatteredSetup:
  Enabled: false

Rails:
  Enabled: true

Rails/ApplicationRecord:
  Enabled: false

Rails/Delegate:
  Enabled: false

Rails/FindEach:
  Enabled: false

Rails/HttpPositionalArguments:
  Enabled: true

Rails/OutputSafety:
  Enabled: true

Style/AccessModifierDeclarations:
  Enabled: false

Style/BlockDelimiters:
  EnforcedStyle: braces_for_chaining

Style/ClassAndModuleChildren:
  Enabled: false

Style/Documentation:
  Enabled: false

Style/FrozenStringLiteralComment:
  Enabled: true

Style/GuardClause:
  Enabled: false

Style/IfUnlessModifier:
  Enabled: false

Style/Lambda:
  Enabled: false

Style/LambdaCall:
  Exclude:
    - app/views/**/*.jbuilder

Style/MissingElse:
  Enabled: true
  EnforcedStyle: case

Style/NumberedParameters:
  Enabled: true
  EnforcedStyle: disallow

Style/PercentLiteralDelimiters:
  PreferredDelimiters:
    '%I': ()
    '%W': ()
    '%i': ()
    '%r': '{}'
    '%w': ()
    default: ()

Style/SafeNavigation:
  Enabled: false

Style/SignalException:
  Enabled: false

Style/StringLiterals:
  Enabled: false

Style/SymbolProc:
  Enabled: false

# Use a trailing comma to keep diffs clean when elements are inserted or removed
Style/TrailingCommaInArguments:
  EnforcedStyleForMultiline: comma

Style/TrailingCommaInArrayLiteral:
  EnforcedStyleForMultiline: comma

Style/TrailingCommaInHashLiteral:
  EnforcedStyleForMultiline: comma

Style/YodaCondition:
  Enabled: false
